@import 'https://fonts.googleapis.com/css?family=Cutive';

* {
	margin: 0;
	padding: 0;
	border: dashed #fff 2px;
}

html,body {
	width: 100%;
	height: 100%;
	font: 62.5% "Cutive",Verdana,"仿宋",sans-serif;
	color: #fff;
	background-color: #000;
	overflow: hidden;
	display:block;

	border: none;
}

#who-am-i {
	background: #fff;
	transition: background-color 1000ms ease-out,color 150ms ease-out;
	color: #000;
	font-size: 3rem;
	/*display:block !important;*/
	/*这里加这句，就会和$.show()冲突，文字会强制显示。*/
	
}


#i-am-frank {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 40%;
}

#my-project {
	background: #dc6c5f;
}

#my-experience {
	background: green;
}

.page4 {
	background: #89b32f;
}

.page4 {
	background: #64b9d2;
}

.tiffnyblue {
	background: #81ced0;
}


@media screen and (max-width: 500px) {
	body {
		
	}
	
	#who-am-i{
		font-size: 2rem;
	}
	
	#i-am-frank {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	width: 80%;
}


}


